@use '../../../styles.scss';

.progress-bar {
  width: 100%;
  height: 0.2rem;
  width: 28rem;

  .bar-progress {
    display: block;
    height: 100%;
    background: styles.$white;
    transition: 0.5s linear;
  }
}
