@use '../../../styles.scss';

.video-container {
  color: #fff;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 1rem 11rem;
  overflow: hidden;

  header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 0 5rem;

    .header-controls-buttons {
      display: flex;
      justify-content: space-between;
      column-gap: 2rem;

      button {
        background: styles.$main-gradient;
        width: 5rem;
        height: 5rem;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
      }
    }
  }

  header,
  footer {
    position: fixed;
    z-index: 1;
  }

  footer {
    bottom: 10rem;
  }

  .video {
    width: 100vw;
    height: 100vh;
    top: 0;
    object-fit: cover;
    position: absolute;
    z-index: 0;
  }
}

canvas {
  display: none;
}
