<div class="video-container">

    <header>
        <div class="header-controls-buttons">
            <div class="recordButtonsGroup">
                <button *ngIf="!videoItsBeenRecorded" class="btnstart-record" (click)="screenRecord()"></button>
                <button *ngIf="videoItsBeenRecorded" class="btnstop-record" (click)="stopScreenRecord()"></button>
            </div>

            <button class="btntoggleControls" (click)="toggleVideoControls()">
                <img src=" ../../../assets/icons/hide-controls.svg" alt="Hidden controls icon">
            </button>

            <button class="btnScreenShot" (click)="screenShot()">
                <img src="../../../assets/icons/camera.svg" alt="Capture video icon">
            </button>
        </div>
    </header>

    <video class="video" #video></video>

    <div class="controls-status">
        <h2 *ngIf="!videoConstraints.video">Camera is disabled</h2>
    </div>

    <!-- <img [src]="(capturedMedia.asObservable() | async).src" alt=""> -->

    <app-media-captured (descardMediaEvent)="resetMediaComponent()" [setMedia]="capturedMedia.asObservable() | async"
        [componentIsVisible]="mediaCaptureisVisible">
    </app-media-captured>

    <video #videaleatorio></video>

    <footer [@videoControlsAnimation]="videoControlsIsVisible ? 'isVisible' : 'isHidden'">
        <app-video-controls (statusVideoCall)="changeStreamStatus($event)"></app-video-controls>
    </footer>
</div>