@use '../../../styles.scss';

.video-container {
  color: #fff;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 1rem 11rem;
  overflow: hidden;

  header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 0 5rem;

    .header-controls-buttons {
      display: flex;
      justify-content: space-between;
      column-gap: 2rem;

      button {
        width: 3.5rem;
        height: 3.5rem;
        padding: 0.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
      }

      .btntoggleControls img {
        width: 2.5rem;
      }

      .btnScreenShot img {
        width: 1.8rem;
      }

      & > button {
        background: styles.$main-gradient;
      }

      .recordButtonsGroup {
        button {
          background: none;
          border: 2px solid #ff0070;
        }

        .btnstart-record {
          &::after {
            content: "";
            display: block;
            width: 90%;
            height: 90%;
            border-radius: 50%;
            background: #ff0070;
          }
        }

        .btnstop-record {
          &::after {
            content: "";
            display: block;
            width: 70%;
            height: 70%;
            background: #ff0070;
          }
        }
      }
    }
  }

  header,
  footer {
    position: fixed;
    z-index: 1;
  }

  footer {
    bottom: 10rem;
  }

  .video {
    width: 100vw;
    height: 100vh;
    top: 0;
    object-fit: cover;
    position: absolute;
    z-index: 0;
  }
}

canvas {
  display: none;
}
