.video-container{
    color: #fff;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 1rem 11rem;
    
    header{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        padding: 0 5rem;

                
        .header-controls-buttons{
            display: flex;
            justify-content: space-between;
            column-gap: 2rem;
        }
    }
    
    header,footer{
        z-index: 1;
    }
    
    
    .video {
        width: 100vw;
        height: 100vh;
        top: 0;
        object-fit: cover;
        position: absolute;
        z-index: 0;
    }
}