$main-gradient: linear-gradient(145deg, #ff008a, #ff004d);
$white: #fff;

* {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

html,
body {
  font-size: 62.5%;
}

a,
button {
  cursor: pointer;
}

p,
label {
  cursor: context-menu;
}
